body {
    background: #000;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 15%;
}
img {
    
    display: inline-block;
    margin: auto;
    width: 55%;  
}

h1 {
    color: aliceblue;
    font: sans-serif;
    font-weight: 100;
    margin-bottom: 5%;
    font-size: 2.5em;
    
    
}